<?xml version="1.0" encoding="utf-8"?>
<CPackSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" Version="0">
  <CPacks>
    <CPack Name="Engima.CommonLib" Major="3" Minor="0" Build="1">
      <Files>
        <CPackFile Name="Engima/CommonLib/CommonLib.sqf" CheckSum="uQuoHxz0rCfNCJVm2xLkTA==" />
      </Files>
      <Dependencies />
      <InitLine>call compile preprocessFileLineNumbers "Engima\CommonLib\CommonLib.sqf";</InitLine>
      <InitServerLine />
      <InitPlayerServerLine />
      <InitPlayerLocalLine />
    </CPack>
    <CPack Name="Engima.SearchPatrol" Major="1" Minor="21" Build="0">
      <Files>
        <CPackFile Name="Engima/SearchPatrol/Documentation.txt" CheckSum="CdhqvGof9BXkb8RoV/z+/Q==" />
        <CPackFile Name="Engima/SearchPatrol/SearchPatrol.sqf" CheckSum="GF/jGQsAeBIK3Zn2kTLKIQ==" />
      </Files>
      <Dependencies>
        <CPackDependency>
          <Name>Engima.CommonLib</Name>
          <Major>3</Major>
          <Minor>0</Minor>
          <Build>1</Build>
        </CPackDependency>
      </Dependencies>
      <InitLine />
      <InitServerLine />
      <InitPlayerServerLine />
      <InitPlayerLocalLine />
    </CPack>
    <CPack Name="Engima.PatrolledAreas" Major="1" Minor="10" Build="0">
      <Files>
        <CPackFile Name="Engima/PatrolledAreas/ConfigAndStart.sqf" CheckSum="8NeGl4B9Wouv41ekJESMLA==" />
        <CPackFile Name="Engima/PatrolledAreas/Documentation.txt" CheckSum="56bPk0RwzWfcvEIYGZYfWg==" />
        <CPackFile Name="Engima/PatrolledAreas/HeadlessClient.sqf" CheckSum="69MWtTWjzIUY7VwwkVrFWw==" />
        <CPackFile Name="Engima/PatrolledAreas/Init.sqf" CheckSum="aiI1tck+oJy2uMe5cnGMlA==" />
        <CPackFile Name="Engima/PatrolledAreas/Server/Functions.sqf" CheckSum="moJqLcPOCvKxa4ZdGlSLEg==" />
      </Files>
      <Dependencies>
        <CPackDependency>
          <Name>Engima.CommonLib</Name>
          <Major>3</Major>
          <Minor>0</Minor>
          <Build>1</Build>
        </CPackDependency>
        <CPackDependency>
          <Name>Engima.SearchPatrol</Name>
          <Major>1</Major>
          <Minor>21</Minor>
          <Build>0</Build>
        </CPackDependency>
      </Dependencies>
      <InitLine>call compile preprocessFileLineNumbers "Engima\PatrolledAreas\Init.sqf";</InitLine>
      <InitServerLine />
      <InitPlayerServerLine />
      <InitPlayerLocalLine />
    </CPack>
    <CPack Name="Engima.MotorizedSearchGroup" Major="1" Minor="0" Build="0">
      <Files>
        <CPackFile Name="Engima/MotorizedSearchGroup/Documentation.txt" CheckSum="5vW4asseV71nsCP8Zq0EPQ==" />
        <CPackFile Name="Engima/MotorizedSearchGroup/MotorizedSearchGroup.sqf" CheckSum="sJlSgqXtkzMtMeZldhh5FA==" />
      </Files>
      <Dependencies>
        <CPackDependency>
          <Name>Engima.CommonLib</Name>
          <Major>3</Major>
          <Minor>0</Minor>
          <Build>1</Build>
        </CPackDependency>
      </Dependencies>
      <InitLine />
      <InitServerLine />
      <InitPlayerServerLine />
      <InitPlayerLocalLine />
    </CPack>
    <CPack Name="Engima.Traffic" Major="1" Minor="70" Build="0">
      <Files>
        <CPackFile Name="Engima/Traffic/Common/Common.sqf" CheckSum="nUnBME9qdjScu6NBIRZ5uw==" />
        <CPackFile Name="Engima/Traffic/Common/Debug.sqf" CheckSum="qU6eXwy/A3xXQS3mUeMX/g==" />
        <CPackFile Name="Engima/Traffic/ConfigAndStart.sqf" CheckSum="1tByA0zuXrLqI1KJDI3pFg==" />
        <CPackFile Name="Engima/Traffic/Documentation.txt" CheckSum="08T2J+rHXTP3lMxAPm8T+A==" />
        <CPackFile Name="Engima/Traffic/HeadlessClient.sqf" CheckSum="Ggw3skBtv56TUdJ9lifWiA==" />
        <CPackFile Name="Engima/Traffic/Init.sqf" CheckSum="zS02feHzoINJyXThaYB8uw==" />
        <CPackFile Name="Engima/Traffic/Server/Functions.sqf" CheckSum="BChgUiz9hjlTwTe3s5+DWQ==" />
        <CPackFile Name="Engima/Traffic/Server/MoveVehicle.sqf" CheckSum="Nb9v2S8ZItgMlJoM0mEJ/Q==" />
        <CPackFile Name="Engima/Traffic/Server/StartTraffic.sqf" CheckSum="l713FxqKB+eA/ahHTrBbvg==" />
      </Files>
      <Dependencies />
      <InitLine>call compile preprocessFileLineNumbers "Engima\Traffic\Init.sqf";</InitLine>
      <InitServerLine />
      <InitPlayerServerLine />
      <InitPlayerLocalLine />
    </CPack>
    <CPack Name="Engima.Civilians" Major="1" Minor="0" Build="0">
      <Files>
        <CPackFile Name="Engima/Civilians/Common/Common.sqf" CheckSum="1B2M2Y8AsgTpgAmY7PhCfg==" />
        <CPackFile Name="Engima/Civilians/Common/Debug.sqf" CheckSum="wgBuWlyyocsktc5CajatfQ==" />
        <CPackFile Name="Engima/Civilians/ConfigAndStart.sqf" CheckSum="4Fwg31Opa0XWLIKvKeaLaw==" />
        <CPackFile Name="Engima/Civilians/Documentation.txt" CheckSum="g4ftv5Ywb0DDpdHK+nkVjA==" />
        <CPackFile Name="Engima/Civilians/HeadlessClient.sqf" CheckSum="D+znziIrjByNySaGofWaeg==" />
        <CPackFile Name="Engima/Civilians/Init.sqf" CheckSum="K4jIZUAlPDo39x3pZn4bLg==" />
        <CPackFile Name="Engima/Civilians/Personalities.sqf" CheckSum="o1q9NOilz5Q3hr7ZQtuJHw==" />
        <CPackFile Name="Engima/Civilians/Server/ServerFunctions.sqf" CheckSum="FbdjaN48MbfHgn/6rwTDLA==" />
      </Files>
      <Dependencies />
      <InitLine>call compile preprocessFileLineNumbers "Engima\Civilians\Init.sqf";</InitLine>
      <InitServerLine />
      <InitPlayerServerLine />
      <InitPlayerLocalLine />
    </CPack>
  </CPacks>
</CPackSettings>