<?xml version="1.0" encoding="utf-8"?>
<CPackSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" Version="0">
  <CPacks>
    <CPack Name="Engima.CommonLib" Major="3" Minor="0" Build="1">
      <Files>
        <CPackFile Name="Engima/CommonLib/CommonLib.sqf" CheckSum="uQuoHxz0rCfNCJVm2xLkTA==" />
      </Files>
      <Dependencies />
      <InitLine>call compile preprocessFileLineNumbers "Engima\CommonLib\CommonLib.sqf";</InitLine>
      <InitServerLine />
      <InitPlayerServerLine />
      <InitPlayerLocalLine />
    </CPack>
    <CPack Name="Engima.SearchPatrol" Major="1" Minor="21" Build="0">
      <Files>
        <CPackFile Name="Engima/SearchPatrol/Documentation.txt" CheckSum="CdhqvGof9BXkb8RoV/z+/Q==" />
        <CPackFile Name="Engima/SearchPatrol/SearchPatrol.sqf" CheckSum="GF/jGQsAeBIK3Zn2kTLKIQ==" />
      </Files>
      <Dependencies>
        <CPackDependency>
          <Name>Engima.CommonLib</Name>
          <Major>3</Major>
          <Minor>0</Minor>
          <Build>1</Build>
        </CPackDependency>
      </Dependencies>
      <InitLine />
      <InitServerLine />
      <InitPlayerServerLine />
      <InitPlayerLocalLine />
    </CPack>
    <CPack Name="Engima.PatrolledAreas" Major="1" Minor="10" Build="0">
      <Files>
        <CPackFile Name="Engima/PatrolledAreas/ConfigAndStart.sqf" CheckSum="8NeGl4B9Wouv41ekJESMLA==" />
        <CPackFile Name="Engima/PatrolledAreas/Documentation.txt" CheckSum="56bPk0RwzWfcvEIYGZYfWg==" />
        <CPackFile Name="Engima/PatrolledAreas/HeadlessClient.sqf" CheckSum="69MWtTWjzIUY7VwwkVrFWw==" />
        <CPackFile Name="Engima/PatrolledAreas/Init.sqf" CheckSum="aiI1tck+oJy2uMe5cnGMlA==" />
        <CPackFile Name="Engima/PatrolledAreas/Server/Functions.sqf" CheckSum="moJqLcPOCvKxa4ZdGlSLEg==" />
      </Files>
      <Dependencies>
        <CPackDependency>
          <Name>Engima.CommonLib</Name>
          <Major>3</Major>
          <Minor>0</Minor>
          <Build>1</Build>
        </CPackDependency>
        <CPackDependency>
          <Name>Engima.SearchPatrol</Name>
          <Major>1</Major>
          <Minor>21</Minor>
          <Build>0</Build>
        </CPackDependency>
      </Dependencies>
      <InitLine>call compile preprocessFileLineNumbers "Engima\PatrolledAreas\Init.sqf";</InitLine>
      <InitServerLine />
      <InitPlayerServerLine />
      <InitPlayerLocalLine />
    </CPack>
  </CPacks>
</CPackSettings>