<?xml version="1.0" encoding="utf-8"?>
<CPackSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" Version="0">
  <CPacks>
    <CPack Name="Engima.CommonLib" Major="3" Minor="0" Build="1">
      <Files>
        <CPackFile Name="Engima/CommonLib/CommonLib.sqf" CheckSum="uQuoHxz0rCfNCJVm2xLkTA==" />
      </Files>
      <Dependencies />
      <InitLine>call compile preprocessFileLineNumbers "Engima\CommonLib\CommonLib.sqf";</InitLine>
      <InitServerLine />
      <InitPlayerServerLine />
      <InitPlayerLocalLine />
    </CPack>
    <CPack Name="Engima.SearchPatrol" Major="1" Minor="21" Build="0">
      <Files>
        <CPackFile Name="Engima/SearchPatrol/Documentation.txt" CheckSum="CdhqvGof9BXkb8RoV/z+/Q==" />
        <CPackFile Name="Engima/SearchPatrol/SearchPatrol.sqf" CheckSum="GF/jGQsAeBIK3Zn2kTLKIQ==" />
      </Files>
      <Dependencies>
        <CPackDependency>
          <Name>Engima.CommonLib</Name>
          <Major>3</Major>
          <Minor>0</Minor>
          <Build>1</Build>
        </CPackDependency>
      </Dependencies>
      <InitLine />
      <InitServerLine />
      <InitPlayerServerLine />
      <InitPlayerLocalLine />
    </CPack>
    <CPack Name="Engima.PatrolledAreas" Major="1" Minor="10" Build="0">
      <Files>
        <CPackFile Name="Engima/PatrolledAreas/ConfigAndStart.sqf" CheckSum="8NeGl4B9Wouv41ekJESMLA==" />
        <CPackFile Name="Engima/PatrolledAreas/Documentation.txt" CheckSum="56bPk0RwzWfcvEIYGZYfWg==" />
        <CPackFile Name="Engima/PatrolledAreas/HeadlessClient.sqf" CheckSum="69MWtTWjzIUY7VwwkVrFWw==" />
        <CPackFile Name="Engima/PatrolledAreas/Init.sqf" CheckSum="aiI1tck+oJy2uMe5cnGMlA==" />
        <CPackFile Name="Engima/PatrolledAreas/Server/Functions.sqf" CheckSum="moJqLcPOCvKxa4ZdGlSLEg==" />
      </Files>
      <Dependencies>
        <CPackDependency>
          <Name>Engima.CommonLib</Name>
          <Major>3</Major>
          <Minor>0</Minor>
          <Build>1</Build>
        </CPackDependency>
        <CPackDependency>
          <Name>Engima.SearchPatrol</Name>
          <Major>1</Major>
          <Minor>21</Minor>
          <Build>0</Build>
        </CPackDependency>
      </Dependencies>
      <InitLine>call compile preprocessFileLineNumbers "Engima\PatrolledAreas\Init.sqf";</InitLine>
      <InitServerLine />
      <InitPlayerServerLine />
      <InitPlayerLocalLine />
    </CPack>
    <CPack Name="Engima.MotorizedSearchGroup" Major="1" Minor="10" Build="0">
      <Files>
        <CPackFile Name="Engima/MotorizedSearchGroup/Documentation.txt" CheckSum="OlPkU/kxUWzyKsMFCYZ8ww==" />
        <CPackFile Name="Engima/MotorizedSearchGroup/MotorizedSearchGroup.sqf" CheckSum="A9EFk2lo/XsbjXHPB66lmg==" />
      </Files>
      <Dependencies />
      <InitLine />
      <InitServerLine />
      <InitPlayerServerLine />
      <InitPlayerLocalLine />
    </CPack>
    <CPack Name="Engima.Traffic" Major="1" Minor="70" Build="0">
      <Files>
        <CPackFile Name="Engima/Traffic/Common/Common.sqf" CheckSum="nUnBME9qdjScu6NBIRZ5uw==" />
        <CPackFile Name="Engima/Traffic/Common/Debug.sqf" CheckSum="qU6eXwy/A3xXQS3mUeMX/g==" />
        <CPackFile Name="Engima/Traffic/ConfigAndStart.sqf" CheckSum="1tByA0zuXrLqI1KJDI3pFg==" />
        <CPackFile Name="Engima/Traffic/Documentation.txt" CheckSum="08T2J+rHXTP3lMxAPm8T+A==" />
        <CPackFile Name="Engima/Traffic/HeadlessClient.sqf" CheckSum="Ggw3skBtv56TUdJ9lifWiA==" />
        <CPackFile Name="Engima/Traffic/Init.sqf" CheckSum="zS02feHzoINJyXThaYB8uw==" />
        <CPackFile Name="Engima/Traffic/Server/Functions.sqf" CheckSum="BChgUiz9hjlTwTe3s5+DWQ==" />
        <CPackFile Name="Engima/Traffic/Server/MoveVehicle.sqf" CheckSum="Nb9v2S8ZItgMlJoM0mEJ/Q==" />
        <CPackFile Name="Engima/Traffic/Server/StartTraffic.sqf" CheckSum="l713FxqKB+eA/ahHTrBbvg==" />
      </Files>
      <Dependencies />
      <InitLine>call compile preprocessFileLineNumbers "Engima\Traffic\Init.sqf";</InitLine>
      <InitServerLine />
      <InitPlayerServerLine />
      <InitPlayerLocalLine />
    </CPack>
    <CPack Name="Engima.Civilians" Major="1" Minor="0" Build="0">
      <Files>
        <CPackFile Name="Engima/Civilians/Common/Common.sqf" CheckSum="1B2M2Y8AsgTpgAmY7PhCfg==" />
        <CPackFile Name="Engima/Civilians/Common/Debug.sqf" CheckSum="wgBuWlyyocsktc5CajatfQ==" />
        <CPackFile Name="Engima/Civilians/ConfigAndStart.sqf" CheckSum="4Fwg31Opa0XWLIKvKeaLaw==" />
        <CPackFile Name="Engima/Civilians/Documentation.txt" CheckSum="g4ftv5Ywb0DDpdHK+nkVjA==" />
        <CPackFile Name="Engima/Civilians/HeadlessClient.sqf" CheckSum="D+znziIrjByNySaGofWaeg==" />
        <CPackFile Name="Engima/Civilians/Init.sqf" CheckSum="K4jIZUAlPDo39x3pZn4bLg==" />
        <CPackFile Name="Engima/Civilians/Personalities.sqf" CheckSum="o1q9NOilz5Q3hr7ZQtuJHw==" />
        <CPackFile Name="Engima/Civilians/Server/ServerFunctions.sqf" CheckSum="FbdjaN48MbfHgn/6rwTDLA==" />
      </Files>
      <Dependencies />
      <InitLine>call compile preprocessFileLineNumbers "Engima\Civilians\Init.sqf";</InitLine>
      <InitServerLine />
      <InitPlayerServerLine />
      <InitPlayerLocalLine />
    </CPack>
    <CPack Name="Sqx.Markers" Major="1" Minor="0" Build="0">
      <Files>
        <CPackFile Name="Sqx/Markers/init.sqx" CheckSum="nQ2D9MziIpdMPiYzyd75Pg==" />
        <CPackFile Name="Sqx/Markers/Marker.sqx" CheckSum="sDZbqzYKZYUKd4N5u+Pg5A==" />
        <CPackFile Name="Sqx/Markers/MarkerHelper.sqx" CheckSum="GAKwqGUeKPWIBO9mrt7JJQ==" />
        <CPackFile Name="Sqx/Markers/README.txt" CheckSum="cM5/OzWdCVDDA0PNgn+qNQ==" />
      </Files>
      <Dependencies />
      <InitLine>call compile preprocessFileLineNumbers "Sqx\Markers\Init.sqx.sqf";</InitLine>
      <InitServerLine />
      <InitPlayerServerLine />
      <InitPlayerLocalLine />
    </CPack>
    <CPack Name="Sqx.Waypoints" Major="0" Minor="80" Build="0">
      <Files>
        <CPackFile Name="Sqx/Waypoints/Init.sqx" CheckSum="aSXmQKYxN0S0s6twAOnULQ==" />
        <CPackFile Name="Sqx/Waypoints/WaypointHelper.sqx" CheckSum="PB+hgcSa0qexlO6fPedy5A==" />
      </Files>
      <Dependencies />
      <InitLine>call compile preprocessFileLineNumbers "Sqx\Waypoints\Init.sqx.sqf";</InitLine>
      <InitServerLine />
      <InitPlayerServerLine />
      <InitPlayerLocalLine />
    </CPack>
    <CPack Name="Engima.AmbientInfantry" Major="1" Minor="10" Build="0">
      <Files>
        <CPackFile Name="Engima/AmbientInfantry/Classes/AmbientInfantry.sqx" CheckSum="C91E4nU6iXKr79HKhR5y9A==" />
        <CPackFile Name="Engima/AmbientInfantry/Classes/Configuration.sqx" CheckSum="9lgwcg1ZI+2JQ7bwlT/XVg==" />
        <CPackFile Name="Engima/AmbientInfantry/Classes/Helper.sqx" CheckSum="3DZxRIzHIebtjgIYDGB5qw==" />
        <CPackFile Name="Engima/AmbientInfantry/Classes/InfantryGroup.sqx" CheckSum="fGWFD24fYeSiEVXWuwxBgA==" />
        <CPackFile Name="Engima/AmbientInfantry/Classes/PlayerPosition.sqx" CheckSum="c7RA8gwwBYa72pIWqIp73A==" />
        <CPackFile Name="Engima/AmbientInfantry/ConfigAndStart.sqf" CheckSum="8pLKBwaR+1GFSz+INKisxA==" />
        <CPackFile Name="Engima/AmbientInfantry/Documentation.txt" CheckSum="RUmOJSVeF0BIxUSHHZUORw==" />
        <CPackFile Name="Engima/AmbientInfantry/HeadlessClient.sqf" CheckSum="sBIgjAxkqX5gpXruLHKXlg==" />
        <CPackFile Name="Engima/AmbientInfantry/Init.sqx" CheckSum="F9tsqdkPXfAVto65mxMthA==" />
      </Files>
      <Dependencies>
        <CPackDependency>
          <Name>Sqx.Markers</Name>
          <Major>0</Major>
          <Minor>81</Minor>
          <Build>0</Build>
        </CPackDependency>
        <CPackDependency>
          <Name>Sqx.Waypoints</Name>
          <Major>0</Major>
          <Minor>80</Minor>
          <Build>0</Build>
        </CPackDependency>
      </Dependencies>
      <InitLine>call compile preprocessFileLineNumbers "Engima\AmbientInfantry\Init.sqx.sqf";</InitLine>
      <InitServerLine />
      <InitPlayerServerLine />
      <InitPlayerLocalLine />
    </CPack>
    <CPack Name="Engima.ParkedVehicles" Major="0" Minor="12" Build="0">
      <Files>
        <CPackFile Name="Engima/ParkedVehicles/Code/Functions.sqf" CheckSum="dbIrs7HsdPqLq1f4mbiOHA==" />
        <CPackFile Name="Engima/ParkedVehicles/ConfigAndStart.sqf" CheckSum="KF4AsPqT0QZyyUb07gH95Q==" />
        <CPackFile Name="Engima/ParkedVehicles/GarageDefinitions.sqf" CheckSum="OxNhwP9/YIOhtJpLE7So6w==" />
        <CPackFile Name="Engima/ParkedVehicles/init.sqf" CheckSum="hOYNTu74mne5tPlld0FUag==" />
      </Files>
      <Dependencies />
      <InitLine />
      <InitServerLine>call compile preprocessFileLineNumbers "Engima\ParkedVehicles\Init.sqf";</InitServerLine>
      <InitPlayerServerLine />
      <InitPlayerLocalLine />
      <DescriptionExtLine />
    </CPack>
  </CPacks>
</CPackSettings>